* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    padding-bottom: 10em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.25em;
}

#testimonials blockquote {
    width: clamp(8em, 50%, 70vw);
    padding: .5em;
    margin: .5em;
    border: solid 1px black;
}

nav {
    position: fixed;
    bottom: 0;
}