* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

nav {
    position: sticky;
    top: 0;
}

main {
    max-width: clamp(700px, 50%, 900px);
    padding: 0 2rem;
    border-left: solid 2px black;
    border-right: solid 2px black;
    margin: 0 auto;
}

#testimonials blockquote {
    border: solid 1px black;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.resume-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.resume-fieldset legend {
    padding: 0;
}

/* z-index testing */
nav {
    z-index: 10;
}

nav ul {
    z-index: 1;
    background-color: white;
}

#testimonials {
    isolation: isolate;
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}