* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

nav {
    position: sticky;
    inset-inline-start: 0;
    background-color: white;
}

nav ul {
    display: flex;
    margin-inline: 0;
}

nav ul li {
    margin-inline: .25rem;
    margin-block: 0;
    line-height: 1.5rem;
    list-style: none;
}

main {
    max-inline-size: clamp(700px, 50%, 900px);
    padding-inline: 2rem;
    padding-block: 0;
    border-inline-start: solid 2px black;
    border-inline-end: solid 2px black;
    margin-inline: auto;
    margin-block: 0;
}

#aboutme {
    background-color: black;
    color: white;
    display: flex;
}

#testimonials {
    display: flex;
}

#testimonials blockquote {
    border-inline: solid 1px black;
    border-block: solid 1px black;
    padding-inline: 0.5rem;
    padding-block: 0;
    margin-inline: 0;
    margin-block: 0.5rem;
}

.resume-fieldset {
    border-inline: none;
    border-block: none;
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;
}

.resume-fieldset legend {
    padding-inline: 0;
    padding-block: 0;
}

.label-standard {
    display: block;
    margin-inline: 0.125rem;
    margin-block: 0.125rem;
}

.field {
    margin-block-end: 1.25rem;
}

.my-picture {
    max-inline-size: 75px;
    margin-inline-end: 1rem;
}